# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [18]:
arr1 = np.empty(10)

3. Create a vector with values ranging from 10 to 49

In [19]:
arr2 = np.arange(10, 50)

4. Find the shape of previous array in question 3

In [20]:
arr2.shape

(40,)

5. Print the type of the previous array in question 3

In [21]:
arr2.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [8]:
print(np.__version__)
print(np.show_config())

1.15.1
mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2016.4.246\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [9]:
arr2.ndim

1

8. Create a boolean array with all the True values

In [22]:
arr3 = np.array([1, 0, 1, 0], dtype=bool)

9. Create a two dimensional array

In [13]:
arr2d = np.array([[1,2, 3],[4, 5, 6]])

10. Create a three dimensional array

In [23]:
arr3d = np.array([[[1,1],[2,2]],[[3,3],[4, 4]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [30]:
arr5 = np.array([1,2,3,4,5])
arr5 = arr5[::-1]

12. Create a null vector of size 10 but the fifth value which is 1

In [32]:
arr6 = np.empty(10)
arr6[4]=1

13. Create a 3x3 identity matrix

In [34]:
m1 = np.identity(3)

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [36]:
arr = np.array([1, 2, 3, 4, 5])
f_arr = arr.astype(np.float64)

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [38]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [41]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr3 = arr1 > arr2

17. Extract all odd numbers from arr with values(0-9)

In [49]:
arr = np.arange(0,10)
arr[1:10:2]

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [51]:
arr[1:10:2] = -1

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [54]:
arr = np.arange(10)
arr[5:9] = 12

20. Create a 2d array with 1 on the border and 0 inside

In [65]:
arr2d = np.ones((6,6))
arr2d[1:-1,1:-1] = 0

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [67]:
arr2d = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d[1,1]=12

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [70]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0,:] = 64

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [72]:
arr2d = np.array([[0, 1, 2, 3, 4],[5, 6, 7, 8, 9]])
arr1d = arr2d[0,:]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [75]:
arr2d = np.array([[0, 1, 2, 3, 4],[5, 6, 7, 8, 9]])
arr2d[1,1]

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [78]:
arr2d = np.array([[0, 1, 2, 3, 4],[5, 6, 7, 8, 9]])
arr2d[0:2,2]

array([2, 7])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [85]:
r = np.random.rand(10,10)
mx = np.max(r)
mn = np.min(r)

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [117]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)
#OR
#a[a==b]

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [118]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.in1d(a,b)

array([False,  True, False,  True, False,  True, False,  True, False,
       False])

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [113]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[names!='Will']

array([[ 1.42194782,  0.16898202, -1.72284583, -0.76727971],
       [-0.2071153 ,  0.16802063,  0.35142734, -0.90043952],
       [ 0.79846718, -1.53615625,  0.57799958,  1.12982789],
       [ 1.1776071 ,  0.00616658, -1.41964668, -0.21257153],
       [ 0.832903  , -0.02870391, -1.21449288, -0.29357661]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [115]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
mask= (names!='Will') & (names!='Joe')
data[mask]

array([[-0.41838084, -0.93890372, -0.27700384, -1.9615219 ],
       [-0.64430083, -0.42168178, -0.46580934,  0.1573861 ]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [107]:
marr = np.arange(1,16)
marr.reshape((5,3))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [123]:
narr = np.arange(1,17).reshape((2,2,4))

33. Swap axes of the array you created in Question 32

In [124]:
narr.T

array([[[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]],

       [[ 4, 12],
        [ 8, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [140]:
s = np.arange(1,10)
s = np.sqrt(s)
s[s<0.5] = 0

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [152]:
a = np.random.randn(12)
b = np.random.randn(12)
c = np.maximum(a, b)

array([ 1.33178303,  1.06590392,  0.31991443,  1.09483434,  2.04750086,
       -0.16853509, -0.59894047,  0.90432199,  0.3843904 ,  0.3584211 ,
        2.07288103,  0.03915464])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [147]:
new_names = np.unique(names)
new_names.sort()

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [161]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
a = np.setdiff1d(a, b)

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [169]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray = np.delete(sampleArray,1,1)
sampleArray = np.insert(sampleArray , 1, newColumn, 1)

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [171]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [187]:
m = np.random.randn(20).reshape(5,4)
m.cumsum(axis=0)
m.cumsum(axis=1)

array([[-0.07503137, -1.18405818, -1.70224594, -0.43591824],
       [-0.2160335 , -1.28198059, -1.3707387 ,  1.22387832],
       [ 0.55445963,  0.79003012,  1.67247524,  2.59498817],
       [ 0.11664439,  0.23806197,  0.02852541, -1.17691621],
       [ 0.39708592,  0.34437629,  0.65639815,  2.73347604]])